*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    text-align: center;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}


/* first */
#rectt{
 width: 5000px;
}
#right-wheel,#left-wheel{
    animation: right 0.5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
#hair{
    animation: hair 0.5s ease alternate infinite;
    transform-origin: center;
    transform-box: fill-box;
}
#animationbike{
    animation: bikeride 5s ease infinite forwards;
    
}

@keyframes right {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
} 
@keyframes hair {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(3%);
        transform: translateZ(2%);
        transform: rotateX(-20deg);
    }
} 
@keyframes bikeride {
    0%{
        transform: translate(0%);
    }
    100%{
        transform: translate(100%);
    }
    0%{
        transform: translate(0%);
    }
}  

/* second */
.backgroundimg svg path{
    mix-blend-mode: multiply;
}


/* third */


.sketch-pic{
    position: relative;
    height: 400px;
    width: 100%;
    background-color: #2c3e50;
}
.kz-photo {
    width: 227px;
    height: 227px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  img {
    position: absolute;
    top: 3px;
    left: 5px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    width: 211px;
    height: 212px;
    z-index: 3;
    opacity: 1;
    animation: photo-ani 4s forwards;
  }
  
  .kz-photo-line {
    background: #2c3e50;
    z-index: 2;
  }
  
  .line {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: line-ani 5.5s forwards;
  }
  
  .circle {
    stroke-width: 3px;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: line-ani 3s forwards;
  }
  
  /* Keyframes */
  @keyframes line-ani {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes photo-ani {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
 
  /* foure */


  .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}


